// Color vars 
$hsl-white-color: hsl(0, 0%, 100%);
$hsl-stone-color-100: hsl(30, 54%, 90%);
$hsl-stone-color-150: hsl(30, 18%, 87%);
$hsl-stone-color-600: hsl(30, 10%, 34%);
$hsl-stone-color-900: hsl(24, 5%, 18%);
$hsl-brown-color-800: hsl(14, 45%, 36%);
$hsl-rose-color-800: hsl(332, 51%, 32%);
$hsl-rose-color-50: hsl(330, 100%, 98%);

// Font vars 
$font-young-serif-regular: "Young Serif", serif;
$font-outfit: "Outfit", sans-serif;