/* Global rules */
:root {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100vh;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
}

main {
  background-color: hsl(30, 54%, 90%);
}
@media (width > 600px) {
  main {
    padding: 5rem 0;
  }
}

/* Global 'recipe' rules */
.recipe {
  background-color: hsl(0, 0%, 100%);
}
@media (width > 600px) {
  .recipe {
    max-width: 70rem;
    margin: auto;
    border-radius: 1.5rem;
  }
}
.recipe__content {
  padding: 0 3rem;
}
.recipe__title--section {
  font-family: "Young Serif", serif;
  font-size: 2rem;
  color: hsl(14, 45%, 36%);
}
.recipe__paragraph {
  font-size: 1.6rem;
  color: hsl(30, 10%, 34%);
}
.recipe__list {
  padding-left: 2rem;
  font-size: 1.6rem;
  color: hsl(30, 10%, 34%);
}
.recipe__item {
  padding: 0 0 1rem 1rem;
}
.recipe__item::marker {
  color: hsl(14, 45%, 36%);
  font-weight: 600;
}

.item-subtitle {
  color: hsl(24, 5%, 18%);
  font-weight: 600;
}

/* Hero rules */
.recipe__hero {
  width: 100%;
}
@media (width > 600px) {
  .recipe__hero {
    padding: 3rem 3rem 0 3rem;
  }
}

.recipe__img--main {
  max-width: 100%;
}
@media (width > 600px) {
  .recipe__img--main {
    border-radius: 1rem;
  }
}

/* Header rules */
.recipe__title--main {
  font-family: "Young Serif", serif;
  font-size: 2.5rem;
}

/* Preparation Section Rules */
.recipe__section--preparation {
  background-color: hsl(330, 100%, 98%);
  margin-top: 2.5rem;
  padding: 0.1rem 3rem;
  border-radius: 1rem;
}

.recipe__title--preparation {
  font-size: 1.8rem;
  color: hsl(332, 51%, 32%);
}

/* Nutrition Section Rules */
.recipe__table {
  font-size: 1.6rem;
  color: hsl(30, 10%, 34%);
  margin-top: 2.5rem;
  width: 100%;
}
.recipe__table--grid-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
  justify-content: center;
}

.recipe__cell {
  border-bottom: 0.1rem solid hsl(30, 10%, 34%);
  padding-bottom: 1rem;
}
.recipe__cell--nutrients {
  text-align: center;
}
@media (width > 600px) {
  .recipe__cell--nutrients {
    padding-left: 2rem;
    text-align: initial;
  }
}
.recipe__cell--quantity {
  color: hsl(14, 45%, 36%);
  font-weight: 600;
}
.recipe__cell--last-row-cell {
  border: 0;
}

/* Footer rules */
.attribution {
  font-size: 1.1rem;
  text-align: center;
  padding: 1.2rem 0;
}

.attribution a {
  color: hsl(14, 45%, 36%);
}