:root {
    /* Color custom properties */
    --hsl-white-color: hsl(0, 0%, 100%);
    
    --hsl-stone-color-100: hsl(30, 54%, 90%);
    --hsl-stone-color-150: hsl(30, 18%, 87%);
    --hsl-stone-color-600: hsl(30, 10%, 34%);
    --hsl-stone-color-900: hsl(24, 5%, 18%);
    
    --hsl-brown-color-800: hsl(14, 45%, 36%);
    
    --hsl-rose-color-800: hsl(332, 51%, 32%);
    --hsl-rose-color-50: hsl(330, 100%, 98%);

    /* Font custom properties */
    --font-young-serif-regular: "Young Serif", serif;
    --font-outfit: "Outfit", sans-serif;

    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    /* Fonts */
    font-family: var(--font-outfit);
    font-optical-sizing: auto;
    font-style: normal;
    
    /* Box model */
    margin: 0;
}

.recipe__paragraph,
.recipe__list,
.recipe__table {
    font-size: 1.6rem;
    color: var(--hsl-stone-color-600);
}

.recipe__img--main {
    max-width: 100%;
}

.recipe__content {
    padding: 0 2rem;
}

.recipe__title--main,
.recipe__title--section {
    font-family: var(--font-young-serif-regular);
}

.recipe__title--main {
    font-size: 2.5rem;
}

.recipe__title--section {
    font-size: 2rem;
    color: var(--hsl-brown-color-800);
}

.recipe__section--preparation {
    background-color: var(--hsl-rose-color-50);

    /* box-model design */
    margin-top: 2.5rem;
    padding: .1rem 3rem;
    border-radius: 1rem;
}

.recipe__title--preparation {
    font-size: 1.8rem;
    color: var(--hsl-rose-color-800);
}

.recipe__list {
    padding-left: 2rem;
}

.recipe__item {
    padding: 0 0 1rem 1rem;

    &::marker {
        color: var(--hsl-brown-color-800);
        font-weight: 600;
    }
}

.item-subtitle {
    color: var(--hsl-stone-color-900);
    font-weight: 600;
}

.recipe__table {
    margin-top: 2.5rem;
    width: 100%;
}

.recipe__table--grid-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    justify-content: center;
}

.recipe__cell {
    border-bottom: .1rem solid var(--hsl-stone-color-600);
    padding-bottom: 1rem;
}

.recipe__cell--nutrients {
    text-align: center;
}

.recipe__cell--quantity {
    color: var(--hsl-brown-color-800);
    font-weight: 600;
}

.recipe__cell--last-row-cell {
    border: 0;
}

.attribution {
    font-size: 1.1rem;
    text-align: center;

    margin: 1.2rem 0;
}

.attribution a {
    color: var(--hsl-brown-color-800);
}